# Compute performance metrics for the given Y and Y_score without sklearn

https://youtu.be/dKRV58PUsvE

In [1]:
import numpy as np
import pandas as pd
# other than these two you should not import any other packages

/home/ajaz/anaconda/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ajaz/anaconda/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

<pre>
<font color='red'><b>A.</b></font> Compute performance metrics for the given data <strong>5_a.csv</strong>
   <b>Note 1:</b> in this data you can see number of positive points >> number of negatives points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_a.csv</b>
   <b>Note 3:</b> you need to derive the class labels from given score</pre> $y^{pred}= \text{[0 if y_score < 0.5 else 1]}$

<pre>
<ol>
<li> Compute Confusion Matrix </li>
<li> Compute F1 Score </li>
<li> Compute AUC Score, you need to compute different thresholds and for each threshold compute tpr,fpr and then use               numpy.trapz(tpr_array, fpr_array) <a href='https://stackoverflow.com/q/53603376/4084039'>https://stackoverflow.com/q/53603376/4084039</a>, <a href='https://stackoverflow.com/a/39678975/4084039'>https://stackoverflow.com/a/39678975/4084039</a> Note: it should be numpy.trapz(tpr_array, fpr_array) not numpy.trapz(fpr_array, tpr_array)</li>
<li> Compute Accuracy Score </li>
</ol>
</pre>

In [2]:
df = pd.read_csv('./5_a.csv')

In [3]:
df.head()

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199

In [4]:
df['y_preds'] = df['proba'].apply(lambda x: 0 if x < 0.5 else 1)

In [5]:
df['y_preds'].unique() # all values are predicted as positive

array([1])

In [6]:
TP = len(df[(df['y'] == 1) & (df['y_preds'] == 1)])
TN = len(df[(df['y'] == 0) & (df['y_preds'] == 0)])
FP = len(df[(df['y'] == 0) & (df['y_preds'] == 1)])
FN = len(df[(df['y'] == 1) & (df['y_preds'] == 0)])

### confusion matrix

In [7]:
TP, TN, FP, FN

(10000, 0, 100, 0)

In [8]:
len(df)

10100

### F1 score

In [9]:
precision = TP/(TP+FP)
recall = TP/(TP+FN)
F1_score = (2 * precision * recall) / (precision + recall)

In [10]:
F1_score, precision, recall

(0.9950248756218906, 0.9900990099009901, 1.0)

### Accuracy score

In [11]:
Accuracy_score = (TP + TN)/(TP+FP+TN+FN)
Accuracy_score

0.9900990099009901

for auc score, sort preds probs in asceding order and then calculate tpr and fpr for each threshold and repeat this for rest of the threshold.

### AUC score

In [12]:
tpr_array, fpr_array = [], []
for thresh in sorted(df['proba'].unique()):
    df['y_preds_temp'] = df['proba'].apply(lambda x: 0 if x < thresh else 1)
    TP = len(df[(df['y'] == 1) & (df['y_preds_temp'] == 1)])
    TN = len(df[(df['y'] == 0) & (df['y_preds_temp'] == 0)])
    FP = len(df[(df['y'] == 0) & (df['y_preds_temp'] == 1)])
    FN = len(df[(df['y'] == 1) & (df['y_preds_temp'] == 0)])
    TPR = TP/(TP+FN)
    FPR = FP/(FP+TN)
    tpr_array.append(TPR)
    fpr_array.append(FPR)

In [13]:
output = np.trapz(tpr_array[::-1], fpr_array[::-1])
print(output)

0.48829900000000004

<pre>
<font color='red'><b>B.</b></font> Compute performance metrics for the given data <strong>5_b.csv</strong>
   <b>Note 1:</b> in this data you can see number of positive points << number of negatives points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_b.csv</b>
   <b>Note 3:</b> you need to derive the class labels from given score</pre> $y^{pred}= \text{[0 if y_score < 0.5 else 1]}$

<pre>
<ol>
<li> Compute Confusion Matrix </li>
<li> Compute F1 Score </li>
<li> Compute AUC Score, you need to compute different thresholds and for each threshold compute tpr,fpr and then use               numpy.trapz(tpr_array, fpr_array) <a href='https://stackoverflow.com/q/53603376/4084039'>https://stackoverflow.com/q/53603376/4084039</a>, <a href='https://stackoverflow.com/a/39678975/4084039'>https://stackoverflow.com/a/39678975/4084039</a></li>
<li> Compute Accuracy Score </li>
</ol>
</pre>

In [14]:
df = pd.read_csv('./5_b.csv')

In [15]:
df.head()

     y     proba
0  0.0  0.281035
1  0.0  0.465152
2  0.0  0.352793
3  0.0  0.157818
4  0.0  0.276648

In [16]:
df['y_preds'] = df['proba'].apply(lambda x: 0 if x < 0.5 else 1)

In [17]:
df.head()

     y     proba  y_preds
0  0.0  0.281035        0
1  0.0  0.465152        0
2  0.0  0.352793        0
3  0.0  0.157818        0
4  0.0  0.276648        0

In [18]:
df['y_preds'].unique()

array([0, 1])

### Confusion matrix

In [19]:
TP = len(df[(df['y'] == 1) & (df['y_preds'] == 1)])
TN = len(df[(df['y'] == 0) & (df['y_preds'] == 0)])
FP = len(df[(df['y'] == 0) & (df['y_preds'] == 1)])
FN = len(df[(df['y'] == 1) & (df['y_preds'] == 0)])
TP, FP, TN, FN

(55, 239, 9761, 45)

In [20]:
precision = TP / (TP + FP)
recall = TP/(TP+FN)
precision, recall

(0.1870748299319728, 0.55)

### F1_score

In [21]:
F1_score = (2 * precision * recall)/(precision + recall)
F1_score

0.2791878172588833

### Accuracy score

In [22]:
Accuracy = (TP + TN) / (TP+TN+FP+FN)
print(Accuracy)

0.9718811881188119

In [23]:
tpr_array, fpr_array = [], []
for thresh in sorted(df['proba'].unique()):
    df['y_preds_temp'] = df['proba'].apply(lambda x: 0 if x < thresh else 1)
    TP = len(df[(df['y'] == 1) & (df['y_preds_temp'] == 1)])
    TN = len(df[(df['y'] == 0) & (df['y_preds_temp'] == 0)])
    FP = len(df[(df['y'] == 0) & (df['y_preds_temp'] == 1)])
    FN = len(df[(df['y'] == 1) & (df['y_preds_temp'] == 0)])
    TPR = TP/(TP+FN)
    FPR = FP/(FP+TN)
    tpr_array.append(TPR)
    fpr_array.append(FPR)

### AUC score

In [24]:
print('AUC score:', np.trapz(tpr_array[::-1], fpr_array[::-1]))

AUC score: 0.9377570000000001

<font color='red'><b>C.</b></font> Compute the best threshold (similarly to ROC curve computation) of probability which gives lowest values of metric <b>A</b> for the given data <strong>5_c.csv</strong>
<br>

you will be predicting label of a data points like this: $y^{pred}= \text{[0 if y_score < threshold  else 1]}$

$ A = 500 \times \text{number of false negative} + 100 \times \text{numebr of false positive}$

<pre>
   <b>Note 1:</b> in this data you can see number of negative points > number of positive points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_c.csv</b>
</pre>

In [25]:
df = pd.read_csv('./5_c.csv')

In [26]:
df.head()

   y      prob
0  0  0.458521
1  0  0.505037
2  0  0.418652
3  0  0.412057
4  0  0.375579

In [27]:
tpr_array, fpr_array = [], []
A = float('inf')
for thresh in sorted(df['prob'].unique()):
    df['y_preds_temp'] = df['prob'].apply(lambda x: 0 if x < thresh else 1)
    TP = len(df[(df['y'] == 1) & (df['y_preds_temp'] == 1)])
    TN = len(df[(df['y'] == 0) & (df['y_preds_temp'] == 0)])
    FP = len(df[(df['y'] == 0) & (df['y_preds_temp'] == 1)])
    FN = len(df[(df['y'] == 1) & (df['y_preds_temp'] == 0)])
    new_A =  500 * FN + 100 * FP 
    if new_A < A:
        A = new_A
        threshold = thresh

In [28]:
print(f'Value of A is {A} and thresh is {threshold}')

Value of A is 141000 and thresh is 0.2300390278970873

<pre>
<font color='red'><b>D.</b></font> Compute performance metrics(for regression) for the given data <strong>5_d.csv</strong>
    <b>Note 2:</b> use pandas or numpy to read the data from <b>5_d.csv</b>
    <b>Note 1:</b> <b>5_d.csv</b> will having two columns Y and predicted_Y both are real valued features
<ol>
<li> Compute Mean Square Error </li>
<li> Compute MAPE: https://www.youtube.com/watch?v=ly6ztgIkUxk</li>
<li> Compute R^2 error: https://en.wikipedia.org/wiki/Coefficient_of_determination#Definitions </li>
</ol>
</pre>

In [29]:
df = pd.read_csv('./5_d.csv')

In [30]:
df.head()

       y   pred
0  101.0  100.0
1  120.0  100.0
2  131.0  113.0
3  164.0  125.0
4  154.0  152.0

In [31]:
df['mse'] = (df['y'] - df['pred']) ** 2

In [32]:
df.head()

       y   pred     mse
0  101.0  100.0     1.0
1  120.0  100.0   400.0
2  131.0  113.0   324.0
3  164.0  125.0  1521.0
4  154.0  152.0     4.0

In [33]:
df = df.rename(columns={'mse':'squared_error'})

In [34]:
mse = np.mean(df['squared_error'])

### Mean squared error

In [35]:
mse

177.16569974554707

### Mean absolute percentage error

In [36]:
df['absolute_error'] = np.absolute(df['y'] - df['pred'])

In [37]:
df.head()

       y   pred  squared_error  absolute_error
0  101.0  100.0            1.0             1.0
1  120.0  100.0          400.0            20.0
2  131.0  113.0          324.0            18.0
3  164.0  125.0         1521.0            39.0
4  154.0  152.0            4.0             2.0

In [40]:
mape = np.sum(df['absolute_error'])/np.sum(df['y'])

In [41]:
mape

0.1291202994009687

In [42]:
y_mean = np.mean(df['y'])

In [43]:
y_mean

66.56208651399491

In [53]:
df['ss_total'] = (y_mean - df['y']) ** 2

In [57]:
ss_res = np.sum(df['squared_error'])
ss_total = np.sum(df['ss_total'])
r_square = 1 - ss_res/ss_total

In [59]:
r_square

0.9563582786990937

In [60]:
df

            y   pred  squared_error  absolute_error     ss_total
0       101.0  100.0            1.0             1.0  1185.969885
1       120.0  100.0          400.0            20.0  2855.610598
2       131.0  113.0          324.0            18.0  4152.244694
3       164.0  125.0         1521.0            39.0  9494.146985
4       154.0  152.0            4.0             2.0  7645.388715
...       ...    ...            ...             ...          ...
157195   87.0   83.0           16.0             4.0   417.708308
157196   97.0   86.0          121.0            11.0   926.466577
157197  106.0   93.0          169.0            13.0  1555.349020
157198  105.0  101.0           16.0             4.0  1477.473193
157199   81.0  104.0          529.0            23.0   208.453346

[157200 rows x 5 columns]